.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1a1a;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #4caf50;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .logo:hover {
    color: #81c784;
  }
  
  .options-nav-lap {
    display: flex;
    gap: 20px;
  }
  
  .options-nav-lap h6 {
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .options-nav-lap h6:hover {
    color: #4caf50;
  }
  .hamburger{
    display: none;
  }
  .options-nav{
    display: none;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .nav {
      flex-direction: row;

      align-items: center;
    }
  .options-nav-lap{
    display: none;
  }
    .options-nav {
      flex-direction: column;
      width: 100%;
      display: none; /* Initially hidden for small screens */
    }
  
    .options-nav.active {
      display: flex; /* Show menu when active class is added */
      gap: 10px;
    }
  
    .hamburger {
      display: block;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 24px;
      color: #ffffff;
      outline: none;
    }
  
    .hamburger:focus {
      outline: 2px solid #4caf50;
    }
  }
  